# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
#sites/*/files
sites/*/private

_backups
111111.txt

CreateDatabase.bat
UpLoadDatabase.bat
